[workspace]
resolver = "2"
members = ["crates/*", "benches", "tests"]

[workspace.package]
authors = ["mnemonikr"]
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/mnemonikr/symbolic-pcode"
rust-version = "1.88"

[workspace.dependencies]
thiserror = "2.0"
log = "0.4"
